<div id="crime-point-filter">
	<div class="filter-checkbox-wrap" ng-repeat="(key,value) in crimePointFilter">
		<span>{{key}}:</span>
		<input type="checkbox" ng-model="crimePointFilter[key]" ng-change="filterCrimePoints()">
	</div>
	<div class="filter-checkbox-wrap">
		<span ng-click="allFilters()" id="filter-all">{{filterAllText}}</span>
	</div>
</div>
<div id="crime-point">
	<span ng-show="!crimeType" class="bold">Zoom in on the map and select a crime scene!</span>
	<div ng-show="crimeType">
		<span class="bold">{{crimeType}}</span>
		<span>{{crimeLocation}}</span>
		<span>{{crimeOutcome}}</span>
	</div>
</div>
<div id="crime-location"><h2>{{selectedBoroughTitle}}</h2></div>
<div id="chart-explanation">
    <small>The charts below are being built from a multi-dimensional dataset, which means it is possible to filter on the values of the charts and make them interact with each other. You can filter on certain values by clicking them in the chart!</small>
</div>
<div id="borough-crimes">
    <div id="borough-offence-chart" class="charts">
        <h3>Crime Types in {{selectedBorough.name}}</h3>
    </div>
    <div id="borough-outcome-chart" class="charts">
        <h3>Outcomes in {{selectedBorough.name}}</h3>
    </div>
    <div id="borough-identified-chart" class="charts full-width-chart">
        <h3>Identified Suspects Ratio in {{selectedBorough.name}}</h3>
    </div>
</div>
