<div id="header">
    <div role="navigation" id="navbar">
            <ul id="navigation">
                <li ng-class="{active:$state.includes('dashboard')}" id="logo">
                    <a ui-sref="dashboard" id="logo">London Crime Dashboard</a>
                </li>
                <li ng-class="{active:$state.includes('london')}">
                    <a ui-sref="london" ui-sref-opts="{reload: true}">Crime Map</a>
                </li>
                <li>
                    <a ng-click="Logout()" class="logout-button">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="page-wrap">
    <div ui-view>
        <div id="homepage-wrap">
            <h1 id="homepage-title">London Crime Dashboard</h1>
            <p>This dashboard visualizes real open data about crime and policing in London, handled by the Metropolitan Police in October 2015.</p>
            <p>All the data on this site is made available under the Open Government Licence.</p>
            <p>Data Source:<a href="https://data.police.uk/">https://data.police.uk/</a></p>
            <p>This code is available on GitHub:</p>
            <p><a href="https://github.com/nandorpersanyi/londoncrime"><img src="images/github-logo-icon-2.png" id="github-logo"></a></p>
            <p>Links to some frameworks, libraries and modules I have used for this project:</p>
            <p><a href="https://angular.io/">https://angular.io/</a></p>
            <p><a href="https://dc-js.github.io/dc.js/">https://dc-js.github.io/dc.js/</a></p>
        </div>
    </div>
</div>
<div id="footer">
    <span>London Crime Dashboard by Nandor Persanyi 2016</span>
</div>
